.promt_window {
}

.promt_window a.close {
    background-color: rgb(160, 161, 161);
    border-radius: 50%;
    color: greenyellow;
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 19px;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

.promt_window a.close:hover {
    background-color: black;
    cursor: pointer;
}

/*
*    Панель входа
*/
.promt_window div.overlay {
    background-color: rgba(0, 0, 0, .25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.promt_window div.overlay > div.login-wrapper {
    align-self: center;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 2px;
    padding: 6px;
    width: 600px;
}

.promt_window div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

.promt_window div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}