<web-app>
    <display-name>LearningManagementSystem</display-name>

    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>
            jdbc:mysql://localhost:3306/tutor_system?serverTimezone=Europe/Moscow&amp;useSSL=false
        </param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>password</param-value>
    </context-param>
    <context-param>
        <param-name>pool.size</param-name>
        <param-value>16</param-value>
    </context-param>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>by.epam.lukashevich.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <location>/WEB-INF/error.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/WEB-INF/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUp</servlet-name>
        <jsp-file>/WEB-INF/signUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userCabinet</servlet-name>
        <jsp-file>/WEB-INF/userCabinet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userCabinet</servlet-name>
        <url-pattern>/userCabinet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersTable</servlet-name>
        <jsp-file>/WEB-INF/usersTable.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersTable</servlet-name>
        <url-pattern>/usersTable</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>testsTable</servlet-name>
        <jsp-file>/WEB-INF/testsTable.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>testsTable</servlet-name>
        <url-pattern>/testsTable</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>testWorkPage</servlet-name>
        <jsp-file>/WEB-INF/testWorkPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>testWorkPage</servlet-name>
        <url-pattern>/testWorkPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>passTestPage</servlet-name>
        <jsp-file>/WEB-INF/passTestPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>passTestPage</servlet-name>
        <url-pattern>/passTestPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>passTestQuestionPage</servlet-name>
        <jsp-file>/WEB-INF/passTestQuestionPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>passTestQuestionPage</servlet-name>
        <url-pattern>/passTestQuestionPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>passTestResultPage</servlet-name>
        <jsp-file>/WEB-INF/passTestResultPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>passTestResultPage</servlet-name>
        <url-pattern>/passTestResultPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>subjectsTable</servlet-name>
        <jsp-file>/WEB-INF/subjectsTable.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>subjectsTable</servlet-name>
        <url-pattern>/subjectsTable</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>questionWorkPage</servlet-name>
        <jsp-file>/WEB-INF/questionWorkPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>questionWorkPage</servlet-name>
        <url-pattern>/questionWorkPage</url-pattern>
    </servlet-mapping>
</web-app>